.time:hover {
  border: 2px solid blue;
}

.time {
  border: 2px solid #ccc;
  text-align: center;
}

.time.current {
  border-color: blue;
}

.deleteIcon {
  height: 15px;
  width: 15px;
  padding: 5px;
}

.deleteIcon path.red {
  fill: #ff4d39;
}
.deleteIcon:hover path.red {
  fill: red;
}
.current-time {
  text-align: center;
  padding: 0 5px;
  min-width: 45px;
}
