.table {
  width: 100%;
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}
.App {
  padding: 10px;
}

.table tr td {
  transition: 0.2s;
  cursor: pointer;
}

.timeinput {
  margin: 10px;
  padding: 5px;
}
.time {
  background-image: linear-gradient(to right, #fff 50%, #bfd7ea 60%);
}
